#persongalleri {
    background-color: rgba(251, 186, 0, 0.1);
    border: 2px solid rgba(251, 186, 0, 1.0);
    padding: 1em;
    box-shadow: 2px 2px 5px black;
}

#persongalleri p.stol {
    margin: 0;
    padding-top: 26px;
    background-image: url('0420akademia.png');
    background-size: 100%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    height: 171px;
    position: relative;
    top: 0;
    left: 0;
    float: left;
    margin-right: 1em;
}

#persongalleri p.navn {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
